body {
    margin: 5;
    background-color:rgb(255, 255, 255);
    color:black;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif
 }

 div.content2{
     background-color:lightpink;
 }

 div.container2{
     color:white;
     background-color:lightpink; 
     position: absolute;
     left:80px; 
     top:70px;
     font-family:Arial, Helvetica, sans-serif
     }

div.content{
    color: lightpink;
}

div.content2{
    color:white;
}

#title_major{
    background-color: lightpink;
}

#graph_paragraphs{
    background-color: lightpink;
}

 div.container {
     background-color:rgb(255,255,255);
     width: 500%;
     font-family:Arial, Helvetica, sans-serif
 }
nav.sidebar{
    height:300px;
    top: 500px;
    position:relative
}

 nav.navbar {
    background-color:transparent;
    color:rgb(255, 255, 255);
    height: 100%;
    position:relative;
    font-family:Arial, Helvetica, sans-serif
}

 nav {
    margin: 0;
    padding: 4;
    width: 300px;
    background-color:lightsalmon;
    position:fixed;
    height: 500px;
    overflow: auto;
    font-family:Arial, Helvetica, sans-serif
 }
 nav a {
    display:block;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
    text-decoration:cornsilk;
    width: 300px;
    margin: center
 }
 nav a.selected {
    background-color:lightcoral;
    color: rgb(255, 255, 255);
    width: 300px
 }
 nav a:hover:not(.selected) {
    background-color:lightpink;
    color: cornsilk;
    width: 150px
 }
 div.content {
    margin-left: 300px;
    padding: 5px 0px;
    height: 100%;
    width: 300;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif
 }
 @media screen and (max-width: 950px) {
 nav {
    width: 100%;
    height: auto;
    position:relative;
 }
 nav a {float: left;}
 div.content {margin: 0;
    width:100%
}
 }

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:lightcoral;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: cornsilk;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow:initial;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:lightpink;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
    